[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
docker="*"

[packages]
ansible = "==4.2.0"
cryptography = "==3.3.2"
jinja2 = "==2.11.3"
molecule = "==2.22"

[requires]
python_version = "3.7"
